@import '../../styles/variables';

.test {
	position: absolute;
	top: 10vh;
	left: 0;
	width: 30vw;
	height: 80vh;
	z-index: 1;
	padding: 1vw;
	box-sizing: border-box;
	background-color: rgba($white, 0.9);
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
	transform: translateX(-30vw);
	transition: all 0.4s;
	user-select: none;
	&-visible {
		transform: translateX(0);
	}
	h1 {
		font-weight: normal;
		text-transform: uppercase;
		color: $blue;
		margin-bottom: 30px;
		margin-top: calc(40px + 1vw);
	}
	svg {
		position: absolute;
		top: 1vw;
		right: 1vw;
		width: 40px;
		height: 40px;
		stroke: $blue;
		stroke-width: 3px;
		cursor: pointer;
	}
}
