@import '../../styles/variables';

.company {
	display: flex;
	padding: 8vh 0 0 0 !important;
	flex-direction: column;
	&__data {
		flex: 1;
	}
	&__logo {
		position: absolute;
		top: 14vh;
		right: 150px;
		box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
		img {
			width: 250px;
			height: 250px;
		}
	}
	&__details {
		display: flex;
		justify-content: space-between;
		margin: 0 150px 30px;
	}
	&__numbers {
		display: flex;
		flex-direction: column;
		max-width: 650px;
		font-size: 20px;
		margin-top: 30px;
		padding: 0 30px;
	}
	&__turnover,
	&__workforce,
	&__certifications,
	&__expertises,
	&__knowledges {
		margin-top: 18px;
		color: $grey;
		text-align: left;
		span {
			color: $blue;
		}
	}
}
