@import '../../styles/variables';

.vignette {
	position: absolute;
	top: 10vh;
	left: 0;
	width: 450px;
	height: 80vh;
	z-index: 1;
	padding: 15px;
	box-sizing: border-box;
	background-color: rgba($white, 0.9);
	box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
	transform: translateX(-450px);
	transition: all 0.4s;
	user-select: none;
	&-visible {
		transform: translateX(0);
	}
	h1 {
		font-weight: normal;
		text-transform: uppercase;
		color: $blue;
		margin: 10px;
	}
	svg {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		stroke: $blue;
		stroke-width: 3px;
		cursor: pointer;
		z-index: 2;
	}
	&__realisations {
		display: flex;
		flex-wrap: wrap;
		overflow-y: auto;
		position: relative;
		max-height: calc(100% - (37px + 35px));
	}
	&__realisation {
		position: relative;
		display: flex;
		flex-direction: column;
		height: fit-content;
		box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
		margin: 10px;
		cursor: pointer;
		text-decoration: none;
		color: $white;
		background-color: $white;
		&:hover .vignette__name {
			background-color: rgba($blue, 0.9);
		}
	}
	&__name {
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 28px;
		text-transform: uppercase;
		padding: 3px;
		background-color: $blue;
		transition: background-color 0.4s;
	}
}
