@import 'variables';
@import 'typography';

body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}

* {
	margin: 0;
}

.page {
	min-height: 86vh;
	margin-top: 6vh;
	padding: 1vh;
	background-color: $white;
	color: $blue;
}

.fade-enter {
	opacity: 0;
}
.fade-enter-active {
	opacity: 1;
	transition: all 0.7s;
}
.fade-exit {
	opacity: 1;
}
.fade-exit-active {
	opacity: 0;
	transition: all 0.7s;
}
