@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('../fonts/Lato-Regular') format('woff2');
	unicode-range: U + 0100-024f, U + 0259, U + 1-1eff, U + 2020, U + 20a0-20ab, U + 20ad-20cf,
		U + 2113, U + 2c60-2c7f, U + A720-A7FF;
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('../fonts/Lato-Bold') format('woff2');
	unicode-range: U + 0100-024f, U + 0259, U + 1-1eff, U + 2020, U + 20a0-20ab, U + 20ad-20cf,
		U + 2113, U + 2c60-2c7f, U + A720-A7FF;
}
