@import '../../styles/variables';

$titleHeight: 150px;
$decorationHeight: 90px;
.title {
	height: $titleHeight;
	display: flex;
	&__svg {
		&.left {
			fill: $grey;
			min-width: $decorationHeight;
			min-height: $decorationHeight;
			max-width: $decorationHeight;
			max-height: $decorationHeight;
		}
		&.right {
			min-width: $titleHeight;
			min-height: $titleHeight;
			max-width: $titleHeight;
			max-height: $titleHeight;
			fill: $blue;
			z-index: 1;
		}
	}
	&__name {
		display: flex;
		align-items: center;
		text-transform: uppercase;
		color: #fff;
		background-color: $blue;
		width: 800px;
		padding: 0 200px 0 150px;
		z-index: 1;
		overflow: hidden;
	}
	&__decoration {
		position: absolute;
		right: 0;
		top: 85px;
		display: flex;
		div {
			height: $decorationHeight;
			width: 80vw;
			background-color: $grey;
		}
	}
}
