@import '../../styles/variables';

.offer {
	.expetise {
		background-color: lightgreen;
	}
	.positioning {
		background-color: lightcoral;
	}
	.offer {
		background-color: lightblue;
	}
	.qualifications {
		background-color: tomato;
	}
}
