@import '../../styles/variables';

.realisation {
	display: flex;
	flex-direction: column;
	padding: 8vh 0 0 !important;
	justify-content: space-between;
	&__details {
		display: flex;
		justify-content: space-around;
	}
	&__numbers {
		font-size: 24px;
	}
	&__amount,
	&__application,
	&__client,
	&__geographic,
	&__market,
	&__program,
	&__zone,
	&__certifications {
		margin-top: 24px;
		color: $grey;
		text-align: left;
		span {
			color: $blue;
		}
	}
	&__slider {
		width: 500px;
		height: 500px;
		top: -30px;
		.slick-list {
			height: 500px;
		}
	}
}
