@import '../../styles/variables';

.map {
	position: relative;
	padding: 50px;
	&__container {
		position: relative;
		#france {
			min-width: 200px;
			stroke: $grey;
			stroke-width: 0.4px;
			fill: none;
		}
		#marker {
			position: absolute;
			width: 35px;
			&.headquarter {
				fill: $blue;
			}
			&.subsidiary {
				fill: #207d74;
			}
			&.commercial {
				fill: $grey;
			}
		}
	}
	&__legend {
		position: absolute;
		top: 150px;
		left: -100px;
		font-size: 12px;
		line-height: 19px;
		.headquarter {
			color: $blue;
		}
		.subsidiary {
			color: #207d74;
		}
		.commercial {
			color: $grey;
		}
	}
}
