@import '~video-react/styles/scss/video-react';

.video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	.video-react {
		div {
			display: none !important;
		}
	}
}
